data:
  mode: {{ $mode := env "CHEZMOI_MODE" | default "min" }} {{ $mode }}
  is_min: {{ eq $mode "min" }}
  is_work: {{ eq $mode "work" }}
  is_home: {{ eq $mode "home" }}
  bitwarden:
    atuin_key: 678412ff-adf8-44b7-bdae-b25a01553bb6

encryption: age
age:
  identity: ~/.config/chezmoi/key.txt
  recipient: age1rt47zawh925knrnw6n0kng7g4m4s3y6a7h258c9zxq2gyud47yhqa625ug

git:
  autoCommit: true 
